page-home {
    .dot{
        height: 20px;
        width: 20px;
        border-radius: 50%;
        display: inline-block; 
    }
    .dot-green {
        background-color: #39d66b;
    }
    .dot-yellow {
        background-color:#efd95d;
    }
    .dot-red {
        background-color:#f53d3d; 
    }
}
